In [1]:
from utils import get_chromedriver, get_seduta, get_studenti, export_triennali, upload_voti, get_emails
import time
import pandas as pd
import numpy as np
import xlsxwriter
import os
import joblib
import locale


locale.setlocale(locale.LC_ALL, 'it_IT')
pd.set_option('display.max_columns', None)

In [2]:
GRADUATION_DATE = ['01/10/2024', '02/10/2024']    # keep list also with 1 value
ESSE3_URL = "https://studentionline.unipv.it/auth/Logon.do"   # login url within esse3 home page
ROOT_URL = "https://studentionline.unipv.it/"    # used to open link inside esse3
PROCLAMATORE_REF = 'Presidente' # 'Membro Effettivo' or 'Presidente'  to be used as Proclamatore from "__commissione.csv"

# triennali
TRIENNALI = True
QUERY_TRIENNALI = 'VOTI TRIENNALI-OTTOBRE 2024.xlsx'   # in folder Query
TEMPESTIVITA_YEAR = '2021/2022'
MAPPING_CORSO=pd.DataFrame({'Corso': ['MANAGEMENT', 'ECONOMIA', 'AMMINISTRAZIONE, CONTROLLO E FINANZA AZIENDALE'],
                            'Corso_lab': ['Corso di laurea in Management classe L-18', 'Corso di laurea in Economia, classe L-33',
                            'Corso di Laurea in Amministrazione, controllo e finanza aziendale classe L-18']})

# magistrali
CHECK_YEAR = '2013/2014'    # if anno iscrizione is before CHECK_YEAR, corresponding cell is filled in yellow

# Download Lista Studenti

In [3]:
# get seduta session
driver, link_list=get_seduta(GRADUATION_DATE, ESSE3_URL, ROOT_URL, TRIENNALI)

df_studenti, all_drivers=get_studenti(driver, link_list, MAPPING_CORSO, GRADUATION_DATE)

########################### 01/10/2024 ore 17:00  (Palazzo San Felice - Sala lettura Chiesa) ###########################

- Found 8 in commissione:

               Docente             Ruolo
1      PELLATI GIORGIO         Supplente
2   PELLICELLI MICHELA         Supplente
3  VERONA BRUNO WALTER         Supplente
4      SOTTI FRANCESCO         Supplente
5      GOTTARDO PIETRO         Supplente
6     TANDA ALESSANDRA  Membro Effettivo
7   BITETTO ALESSANDRO        Segretario
8      FONTANA ROBERTO        Presidente

File saved in .\Sedute\Log\Seduta Laurea 2024_10_01_17.00_commissione.csv

- Found 2 pages

- Found 12 students
Reading student 12/12

########################### 01/10/2024 ore 17:20  (Palazzo San Felice - Sala lettura Chiesa) ###########################

- Found 10 in commissione:

                 Docente             Ruolo
1            SASSI MARIA         Supplente
2    FRANCESCONI ALBERTO         Supplente
3    VERONA BRUNO WALTER         Supplente
4   MONTAGNA ELENA MARIA         Supplente
5     PELLICELLI MICHELA         Supplente
6    ZUCCHELLA ANTONELLA         Supplente
7        GOTTARDO PIETRO         Supplente
8       TANDA ALESSANDRA  Membro Effettivo
9     BITETTO ALESSANDRO        Segretario
10       FONTANA ROBERTO        Presidente

File saved in .\Sedute\Log\Seduta Laurea 2024_10_01_17.20_commissione.csv

- Found 2 pages

- Found 12 students
Reading student 12/12

########################### 01/10/2024 ore 17:45  (Palazzo San Felice - Sala lettura Chiesa) ###########################

- Found 12 in commissione:

                                 Docente             Ruolo
1   FUMAGALLI ANDREA MARIA PIERO CAMILLO         Supplente
2                   MONTAGNA ELENA MARIA         Supplente
3                      CAVALIERE ALBERTO         Supplente
4                    VERONA BRUNO WALTER         Supplente
5                        PELLATI GIORGIO         Supplente
6              MACCARINI MAURIZIO ETTORE         Supplente
7                       TIRELLI PATRIZIO         Supplente
8                          GERACI ANDREA         Supplente
9                        GOTTARDO PIETRO         Supplente
10                      TANDA ALESSANDRA  Membro Effettivo
11                    BITETTO ALESSANDRO        Segretario
12                       FONTANA ROBERTO        Presidente

File saved in .\Sedute\Log\Seduta Laurea 2024_10_01_17.45_commissione.csv

- Found 2 pages

- Found 11 students
Reading student 11/11

########################### 02/10/2024 ore 17:00  (Palazzo San Felice - Aula FL) ###########################

- Found 8 in commissione:

                       Docente             Ruolo
1          VERONA BRUNO WALTER         Supplente
2  CATTANEO CARLA BRUNA ANGELA         Supplente
3              SOTTI FRANCESCO         Supplente
4           PELLICELLI MICHELA         Supplente
5              GOTTARDO PIETRO         Supplente
6                  RE BEATRICE  Membro Effettivo
7           BITETTO ALESSANDRO        Segretario
8           FERRARIO BENEDETTA        Presidente

File saved in .\Sedute\Log\Seduta Laurea 2024_10_02_17.00_commissione.csv

- Found 2 pages

- Found 12 students
Reading student 12/12

########################### 02/10/2024 ore 17:20  (Palazzo San Felice - Aula FL) ###########################

- Found 11 in commissione:

                 Docente             Ruolo
1          BAGNA EMANUEL         Supplente
2   MONTAGNA ELENA MARIA         Supplente
3     PELLICELLI MICHELA         Supplente
4    ZUCCHELLA ANTONELLA         Supplente
5    FRANCESCONI ALBERTO         Supplente
6        PELLATI GIORGIO         Supplente
7       TANDA ALESSANDRA         Supplente
8        GOTTARDO PIETRO         Supplente
9            RE BEATRICE  Membro Effettivo
10    BITETTO ALESSANDRO        Segretario
11    FERRARIO BENEDETTA        Presidente

File saved in .\Sedute\Log\Seduta Laurea 2024_10_02_17.20_commissione.csv

- Found 2 pages

- Found 12 students
Reading student 12/12

########################### 02/10/2024 ore 17:45  (Palazzo San Felice - Aula FL) ###########################

- Found 10 in commissione:

                                 Docente             Ruolo
1                  RIZZO MARIO VALENTINO         Supplente
2                       TIRELLI PATRIZIO         Supplente
3                      CAVALIERE ALBERTO         Supplente
4                          GERACI ANDREA         Supplente
5   FUMAGALLI ANDREA MARIA PIERO CAMILLO         Supplente
6                            SASSI MARIA         Supplente
7                        GOTTARDO PIETRO         Supplente
8                            RE BEATRICE  Membro Effettivo
9                     BITETTO ALESSANDRO        Segretario
10                    FERRARIO BENEDETTA        Presidente

File saved in .\Sedute\Log\Seduta Laurea 2024_10_02_17.45_commissione.csv

- Found 10 students
Reading student 10/10

Total students: 69

,Data,Luogo,Nome,Matricola,Nascita,Corso,Titolo tesi,Relatore,Anno iscrizione,Crediti,...,Motivazione punteggio proposto,Richiesta di eccellenza,Punti tesi,Lode,Encomio,Voto Finale,link,link_seduta,file_commissione,Corso_lab
0,01/10/2024 ore 17:00,Palazzo San Felice - Sala lettura Chiesa,MIRAGOLI MARTINA,490000,24/06/2001,"AMMINISTRAZIONE, CONTROLLO E FINANZA AZIENDALE",Relazione sull'attività di stage,SOTTI FRANCESCO,1 2020/2021 In corso\n2 2021/2022 In corso\n3 ...,177,...,,No,,,,0,auth/docente/Graduation/DettaglioLaureando.do?...,https://studentionline.unipv.it/auth/docente/G...,.\Sedute\Log\Seduta Laurea 2024_10_01_17.00_co...,"Corso di Laurea in Amministrazione, controllo ..."
1,01/10/2024 ore 17:00,Palazzo San Felice - Sala lettura Chiesa,UKU LEANDRA,507257,16/01/2003,"AMMINISTRAZIONE, CONTROLLO E FINANZA AZIENDALE",Fraud Risk Management: la frode e le truffe fi...,VERONA BRUNO WALTER,1 2021/2022 In corso\n2 2022/2023 In corso\n3 ...,177,...,,No,,,,0,auth/docente/Graduation/DettaglioLaureando.do?...,https://studentionline.unipv.it/auth/docente/G...,.\Sedute\Log\Seduta Laurea 2024_10_01_17.00_co...,"Corso di Laurea in Amministrazione, controllo ..."
2,01/10/2024 ore 17:00,Palazzo San Felice - Sala lettura Chiesa,BELLI FEDERICA,505390,22/07/2002,"AMMINISTRAZIONE, CONTROLLO E FINANZA AZIENDALE",Relazione finale sul tirocinio formativo press...,PELLICELLI MICHELA,1 2021/2022 In corso\n2 2022/2023 In corso\n3 ...,177,...,,No,,,,0,auth/docente/Graduation/DettaglioLaureando.do?...,https://studentionline.unipv.it/auth/docente/G...,.\Sedute\Log\Seduta Laurea 2024_10_01_17.00_co...,"Corso di Laurea in Amministrazione, controllo ..."
3,01/10/2024 ore 17:00,Palazzo San Felice - Sala lettura Chiesa,FERRERO BEATRICE,500883,19/12/2002,"AMMINISTRAZIONE, CONTROLLO E FINANZA AZIENDALE",“Relazione sul tirocinio svolto presso lo Stud...,PELLATI GIORGIO,1 2021/2022 In corso\n2 2022/2023 In corso\n3 ...,177,...,,No,,,,0,auth/docente/Graduation/DettaglioLaureando.do?...,https://studentionline.unipv.it/auth/docente/G...,.\Sedute\Log\Seduta Laurea 2024_10_01_17.00_co...,"Corso di Laurea in Amministrazione, controllo ..."
4,01/10/2024 ore 17:00,Palazzo San Felice - Sala lettura Chiesa,APREA ALESSANDRO,505619,26/10/1999,"AMMINISTRAZIONE, CONTROLLO E FINANZA AZIENDALE",L’analisi di Bilancio: Procedure di valutazion...,SOTTI FRANCESCO,1 2021/2022 In corso\n2 2022/2023 In corso\n3 ...,177,...,,No,,,,0,auth/docente/Graduation/DettaglioLaureando.do?...,https://studentionline.unipv.it/auth/docente/G...,.\Sedute\Log\Seduta Laurea 2024_10_01_17.00_co...,"Corso di Laurea in Amministrazione, controllo ..."

                                                                          0
Data                 Corso_lab
01/10/2024 ore 17:00 Corso di Laurea in Amministrazione, controllo e...  12
01/10/2024 ore 17:20 Corso di laurea in Management classe L-18           12
01/10/2024 ore 17:45 Corso di laurea in Economia, classe L-33            11
02/10/2024 ore 17:00 Corso di Laurea in Amministrazione, controllo e...  12
02/10/2024 ore 17:20 Corso di laurea in Management classe L-18           12
02/10/2024 ore 17:45 Corso di laurea in Economia, classe L-33            10

Log studenti saved in Checkpoints\Seduta Laurea 2024_10_01,02 - df_studenti.pkl

# ----  TRIENNALI  ----

## Export report

In [3]:
# File to be sent for checking Punteggio Tesi and Voto

file_name_pkl=os.path.join('Checkpoints', 'Seduta Laurea '+'_'.join(GRADUATION_DATE[0].split('/')[::-1])+','+','.join([x[:2] for x in GRADUATION_DATE[1:]])+' - df_studenti.pkl')
df_studenti=joblib.load(file_name_pkl)

export_triennali(df_studenti, QUERY_TRIENNALI, GRADUATION_DATE, TEMPESTIVITA_YEAR, PROCLAMATORE_REF, final_version=False)

#### found 7 rows with mismatch between "AA_IMM_SU" and "Anno iscrizione"    ->  Keeping information from Esse3
1 - LANFRANCHI MATTEO  (Matricola 502909) - Corso: MANAGEMENT
   AA_IMM_SU: 2020
   Da esse3:
      1 2021/2022 In corso
      2 2022/2023 In corso
      3 2023/2024 In corso

2 - ZAGARRÌ GIULIA  (Matricola 506282) - Corso: MANAGEMENT
   AA_IMM_SU: 2020
   Da esse3:
      1 2021/2022 In corso
      2 2022/2023 In corso
      3 2023/2024 In corso

3 - CAMPANELLA ROBERTA MARIA  (Matricola 491782) - Corso: ECONOMIA
   AA_IMM_SU: 2019
   Da esse3:
      1 2020/2021 In corso
      2 2021/2022 In corso
      3 2022/2023 In corso
      3 2023/2024 Ripetente

4 - FULGHERI MATTEO  (Matricola 490519) - Corso: ECONOMIA
   AA_IMM_SU: 2019
   Da esse3:
      1 2020/2021 In corso
      2 2021/2022 In corso
      3 2022/2023 In corso
      3 2023/2024 Ripetente

5 - CONTALDO PIERPASQUALE  (Matricola 500821) - Corso: MANAGEMENT
   AA_IMM_SU: 2020
   Da esse3:
      1 2021/2022 In corso
      2 2022/2023 In corso
      3 2023/2024 In corso

6 - TIBERIA CAMILLA  (Matricola 490362) - Corso: MANAGEMENT
   AA_IMM_SU: 2018
   Da esse3:
      1 2020/2021 In corso
      2 2021/2022 In corso
      3 2022/2023 In corso
      3 2023/2024 Ripetente

7 - PANIGATI FEDERICO  (Matricola 503404) - Corso: ECONOMIA
   AA_IMM_SU: 2020
   Da esse3:
      1 2021/2022 In corso
      2 2022/2023 In corso
      3 2023/2024 In corso

               0
Tempestività
No            17
Yes           52

Studenti list saved in Sedute\Log\Seduta Laurea 2024_10_01,02_studenti.csv

File saved in Sedute\Seduta Laurea 2024_10_01,02.xlsx

Email list saved in Sedute\Seduta Laurea 2024_10_01,02_email.csv

#### Prima compila il file xlsx prodotto sopra con eventuali modifiche sul voto. Il file excel ha le formule interattive

In [4]:
# Final version to be sent to Proclamatori

file_name_pkl=os.path.join('Checkpoints', 'Seduta Laurea '+'_'.join(GRADUATION_DATE[0].split('/')[::-1])+','+','.join([x[:2] for x in GRADUATION_DATE[1:]])+' - df_studenti.pkl')
df_studenti=joblib.load(file_name_pkl)

export_triennali(df_studenti, QUERY_TRIENNALI, GRADUATION_DATE, TEMPESTIVITA_YEAR, PROCLAMATORE_REF, final_version=True)

Seduta "Mar 01 17.00" saved in "Sedute\Seduta Laurea 2024_10_01,02 FONTANA.xlsx"
Seduta "Mar 01 17.20" saved in "Sedute\Seduta Laurea 2024_10_01,02 FONTANA.xlsx"
Seduta "Mar 01 17.45" saved in "Sedute\Seduta Laurea 2024_10_01,02 FONTANA.xlsx"
Seduta "Mer 02 17.00" saved in "Sedute\Seduta Laurea 2024_10_01,02 FERRARIO.xlsx"
Seduta "Mer 02 17.20" saved in "Sedute\Seduta Laurea 2024_10_01,02 FERRARIO.xlsx"
Seduta "Mer 02 17.45" saved in "Sedute\Seduta Laurea 2024_10_01,02 FERRARIO.xlsx"


- Available sessions:

01/10/2024 ore 17:00
01/10/2024 ore 17:20
01/10/2024 ore 17:45
02/10/2024 ore 17:00
02/10/2024 ore 17:20
02/10/2024 ore 17:45

## Upload Voti

#### Prima compila le presenze per le commissioni nella cartella `Sedute\Log\`

Usa la colonna `'Voto di Laurea'` per caricare i punteggi e voto finale (inclusa la lode)

In [3]:
# you can upload a single or multiple sedute "- Available sessions:" from above. If "[]" all sedute are uploaded
upload_single_session=['01/10/2024 ore 17:00', '01/10/2024 ore 17:20', '01/10/2024 ore 17:45'] # ['27/02/2024 ore 14:00']

upload_voti(GRADUATION_DATE, ESSE3_URL, ROOT_URL, TRIENNALI, upload_single_session)  # todo: va messo uno switch per le magistali con TRIENNALI

Presence at 01/10/2024 ore 17:20: 4

                Docente             Ruolo Presente
3  MONTAGNA ELENA MARIA         Supplente        x
7      TANDA ALESSANDRA  Membro Effettivo        x
8    BITETTO ALESSANDRO        Segretario        x
9       FONTANA ROBERTO        Presidente        x

Presence at 01/10/2024 ore 17:45: 4

                 Docente             Ruolo Presente
1   MONTAGNA ELENA MARIA         Supplente        x
9       TANDA ALESSANDRA  Membro Effettivo        x
10    BITETTO ALESSANDRO        Segretario        x
11       FONTANA ROBERTO        Presidente        x

#####################################

Filling voti for:  01/10/2024 ore 17:20

- Uploading student 12/12
- Found 2 pages
- Found 12 students

Votazione Finale: Check Done


#####################################

Filling voti for:  01/10/2024 ore 17:45

- Uploading student 11/11
- Found 2 pages
- Found 11 students

Votazione Finale: Check Done

## Export report MAGISTRALI  - TODO: refactoring

In [81]:
file_name='.\\Sedute\\Seduta Laurea '+'_'.join(GRADUATION_DATE[0].split('/')[::-1])+'.xlsx'
writer = pd.ExcelWriter(file_name, engine='xlsxwriter')

# Convert the dataframe to an XlsxWriter Excel object.
df_studenti.to_excel(writer, sheet_name='Laurea', index=False)

# Get the xlsxwriter objects from the dataframe writer object.
workbook  = writer.book
worksheet = writer.sheets['Laurea']

wrap_format = workbook.add_format({'text_wrap' : True, 'align': 'top'})
top_format=workbook.add_format({'align': 'top'})
yellow_format=workbook.add_format({'text_wrap' : True, 'align': 'top', 'bg_color': 'yellow'})
worksheet.set_column(0, 5, 15, top_format)
worksheet.set_column(7, 9, 15, top_format)
worksheet.set_column(11, 11, 20, top_format)
worksheet.set_column(6, 6, 20, wrap_format)
worksheet.set_column(10, 10, 20, wrap_format)
worksheet.set_column(12, 12, 30, wrap_format)

# add formula for voto finale
col_num=df_studenti.columns.get_loc("Voto Finale")+1
col_letter_finale=chr(ord('@')+col_num)
col_num=df_studenti.columns.get_loc("Voto proposto")+1
col_letter_proposto=chr(ord('@')+col_num)
col_num=df_studenti.columns.get_loc("Punti tesi")+1
col_letter_punti=chr(ord('@')+col_num)
for ind, row in df_studenti.iterrows():
    worksheet.write_formula(col_letter_finale+str(ind+2), '='+ col_letter_proposto+str(ind+2) +' + '+ col_letter_punti+str(ind+2))
    # https://xlsxwriter.readthedocs.io/working_with_formulas.html
    
# fill cell with yellow if "Anno iscrizione" is before CHECK_YEAR
col_num=df_studenti.columns.get_loc("Anno iscrizione")+1
col_letter=chr(ord('@')+col_num)
for ind, row in df_studenti.iterrows():
    anno=[]
    for an in row['Anno iscrizione'].split('\n'):
        anno.append([int(x.split('/')[0]) for i, x in enumerate(an.split(' ')) if '/' in x][0])
    if min(anno) <= int(CHECK_YEAR.split('/')[0]):
        worksheet.write(col_letter+str(ind+2), row['Anno iscrizione'], yellow_format)

writer.close()

print('\nFile saved in', file_name)

File saved in Seduta Laurea 03_10_2023.xlsx

C:\Users\Alessandro Bitetto\AppData\Local\Temp\ipykernel_17556\1437380815.py:42: FutureWarning: save is not part of the public API, usage can give unexpected results and will be removed in a future version
  writer.save()

# Upload Voti   - TODO: refactoring



#### Prima compila la colonna `Punti tesi` e `Lode` nel file excel

In [4]:
# df_commissione=pd.read_csv('Seduta Laurea '+'_'.join(GRADUATION_DATE.split('/')[::-1])+'_commissione.csv', sep=';')
df_studenti=pd.read_excel('.\\Sedute\\Seduta Laurea '+'_'.join(GRADUATION_DATE[0].split('/')[::-1])+'.xlsx')
df_studenti['Lode']=df_studenti['Lode'].fillna('')
df_studenti['Encomio']=df_studenti['Encomio'].fillna('')

In [32]:
# get seduta session
driver=get_seduta(GRADUATION_DATE, ESSE3_URL, ROOT_URL)
wait=WebDriverWait(driver, 10)

In [6]:
driver.switch_to.window(driver.window_handles[0])

for i, row in df_studenti.iterrows():
    
    print(f"Uploading student {i+1}/{len(df_studenti)}", end = "\r")
    
    link=ROOT_URL+row['link']
    driver.execute_script(f"window.open('{link}')")
    new_tab= driver.window_handles[i+1]
    driver.switch_to.window(new_tab)
    
    # input punti tesi
    try:
        punti_tesi=wait.until(
                        EC.presence_of_element_located((By.ID, 'grad-dettLau-puntiTesi')))
        punti_tesi.click()
        punti_tesi.clear()
        punti_tesi.send_keys(row['Punti tesi'])
        wait.until(EC.presence_of_element_located((By.ID, 'grad-dettLau-annotazioni'))).click()
    except:
        print(f'\n## Error for punti tesi {row["Nome"]} ({i+1})')

    # tick Lode and Encomio
    if row['Lode'] != '':
        try:
            lode=wait.until(
                    EC.presence_of_element_located((By.ID, 'grad-dettLau-lode1')))
            lode.click()
        except:
            print(f'\n## Error for Lode {row["Nome"]} ({i+1})')
    if row['Encomio'] != '':
        try:
            encomio=wait.until(
                    EC.presence_of_element_located((By.ID, 'grad-dettLau-encomio1')))
            encomio.click()
        except:
            print(f'\n## Error for Encomio {row["Nome"]} ({i+1})')

    # tick Commissione
    try:
        driver.execute_script("window.scrollTo(0, document.body.scrollHeight);")
        commissione=wait.until(
            EC.presence_of_element_located((By.XPATH, "/html/body/div[2]/div/div/main/div[3]/div/div/div[2]/form/div[3]")))
        commissione=convert(BeautifulSoup(commissione.get_attribute('outerHTML'), 'html.parser'))
        get_checkbox_id=commissione['div'][0]['div'][0]['@id'].replace('gbox', 'cb')
        all_commissione=wait.until(
                        EC.presence_of_element_located((By.ID, get_checkbox_id)))
        all_commissione.click()
    except:
        print(f'\n## Error for Commissione {row["Nome"]} ({i+1})')

    # save
    try:
        save=wait.until(
                    EC.presence_of_element_located((By.ID, 'grad-dettLau-btnSubmit')))
        save.click()
    except:
        print(f'\n## Error for Save {row["Nome"]} ({i+1})')

    # save and exit
    try:
        save_exit=wait.until(
                    EC.presence_of_element_located((By.ID, 'grad-dettLau-btnSubmitExit')))
        save_exit.click()
    except:
        print(f'\n## Error for Save and Exit {row["Nome"]} ({i+1})')


# check final grade mismatch
driver.switch_to.window(driver.window_handles[0])

if "footable-page-link" not in driver.page_source:     # single page
    final_grade=wait.until(
            EC.presence_of_element_located((By.XPATH, "/html/body/div[2]/div/div/main/div[3]/div/div/div[2]/table[2]")))
    final_grade=convert(BeautifulSoup(final_grade.get_attribute('outerHTML'), 'html.parser'))
    elem_list=final_grade['table'][0]['tbody'][0]['tr']
else:                                                  # multiple pages
    expected_rows = int(driver.find_element(By.XPATH, "/html/body/div[2]/div/div/main/div[3]/div/div/div[2]/table[2]/tfoot/tr/td/div/span").get_attribute("textContent").split(' di ')[-1])
    num_pages = int(driver.find_element(By.XPATH, "/html/body/div[2]/div/div/main/div[3]/div/div/div[2]/table[2]/tfoot/tr/td/div/span").get_attribute("textContent").split(',')[0].split('di')[-1])
    
    print(f'\n- Found {num_pages} pages')
        
    elem_list=[]
    for i in range(num_pages):
        
        time.sleep(1)
        final_grade=wait.until(
            EC.presence_of_element_located((By.XPATH, "/html/body/div[2]/div/div/main/div[3]/div/div/div[2]/table[2]")))
        final_grade=convert(BeautifulSoup(final_grade.get_attribute('outerHTML'), 'html.parser'))
        elem_list.extend(final_grade['table'][0]['tbody'][0]['tr'])

        if i < (num_pages-1):
            driver.find_element(By.XPATH, "/html/body/div[2]/div/div/main/div[3]/div/div/div[2]/table[2]/tfoot/tr/td/div/ul/li[5]/a").click()
            time.sleep(2)
                
    print(f'- Found {len(elem_list)} students')
    if len(elem_list) != expected_rows:
        print(f'\n\n\n## Error for lista studenti. Trovati {len(elem_list)}, attesi {expected_rows}')
        
for i, el in enumerate(elem_list):
    grade=el['td'][8]['#text']
    lode = True if 'L' in grade else False
    grade_evaluated=int(grade.replace('L', ''))
    matricola=int(el['td'][1]['#text'])
    name=el['td'][0]['#text']
    grade_expected=min(df_studenti[df_studenti['Matricola'] == matricola]['Voto Finale'].values[0], 110)
    lode_expected = True if df_studenti[df_studenti['Matricola'] == matricola]['Lode'].values[0] != '' else False
    if grade_evaluated != grade_expected or lode != lode_expected:
        print(f'\n## Expected Votazione Finale mismatch: {name} ({i+1})')
        
print('\nVotazione Finale: Check Done')

Uploading student 9/9
Votazione Finale: Check Done

# Download email docenti

save html from https://unipv.unifind.cineca.it/individual?uri=http%3A//irises.unipv.it/resource/orgunit/693798 to `lista_docenti.txt`

In [4]:
ROOT_URL='https://unipv.unifind.cineca.it/'

df_email=get_emails(ROOT_URL)

Downloading email 88/88
- File saved in Checkpoints\lista_email_docenti.csv

,Nome,Ruolo,Email,url
0,AGOSTO ARIANNA,Ricercatore,arianna.agosto@unipv.it,https://unipv.unifind.cineca.it/individual?uri...
1,ASCARI GUIDO,Professore Ordinario,guido.ascari@unipv.it,https://unipv.unifind.cineca.it/individual?uri...
2,BABAEI GOLNOOSH,Assegnista,golnoosh.babaei@unipv.it,https://unipv.unifind.cineca.it/individual?uri...
3,BAGNA EMANUEL,Professore associato,emanuel.bagna@unipv.it,https://unipv.unifind.cineca.it/individual?uri...
4,BALDRIGHI COSTANZA,"Dottorando, Assegnista",costanza.baldrighi01@universitadipavia.it,https://unipv.unifind.cineca.it/individual?uri...